<div class="container">
	<div class="row">
		<div class="col-md-3">
			<img ng-src="{{card.card_image}}" class="img-responsive">
		</div>
		<div class="col-md-6">
			<h2>{{card.name}}</h2>
			<hr>
			<table class="table table-bordered" style="width: auto;">

				<tbody>
					<tr>
						<th>Attribute</th>
						<td><a ng-href="/find?family={{card.data.family}}" ng-click='typeFind(card.data.family)'>{{card.data.family}}</a></td>
					</tr>
					<tr>
						<th>Type</th>
						<td><a ng-href="/find?type={{card.data.type}}" ng-click='typeFind(card.data.type)'>{{card.data.type}}</a></td>
					</tr>
					<tr>
						<th>Level</th>
						<td>{{card.data.level}}</td>
					</tr>
					<tr>
						<th>ATK</th>
						<td>{{card.data.atk}}</td>
					</tr>
					<tr>
						<th>DEF</th>
						<td>{{card.data.def}}</td>
					</tr>
					<tr>
						<th>Description</th>
						<td>{{card.data.text}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
