<div class="jumbotron">
	<div class="container">
		<div class="col-md-3">
			<img ng-src="{{randomCard.card_image}}" class="img-responsive">
		</div>
		<h2><a ng-href="cards/{{randomCard.slug}}">{{randomCard.name}}</a></h2>
		<table class="table table-bordered" style="width: auto;">

			<tbody>
				<tr>
					<th>Attribute</th>
					<td><a ng-href="/find?family={{randomCard.data.family}}">{{randomCard.data.family}}</a></td>
				</tr>
				<tr>
					<th>Type</th>
					<td>
						<a ng-href="/find?type={{randomCard.data.type}}">{{randomCard.data.type}}</a>
						<a ng-show="randomCard.data.type === null" ng-href="/find?card_type={{randomCard.data.card_type}}">{{randomCard.data.card_type}}</a>
					</td>
				</tr>
				<tr>
					<th>Level</th>
					<td>{{randomCard.data.level}}</td>
				</tr>
				<tr>
					<th>ATK</th>
					<td>{{randomCard.data.atk}}</td>
				</tr>
				<tr>
					<th>DEF</th>
					<td>{{randomCard.data.def}}</td>
				</tr>
				<tr>
					<th>Description</th>
					<td>{{randomCard.data.text}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="container">

	<div class="col-md-6">
		<h2 ng-style="{'text-align': 'center'}">Most viewed cards</h2>
		<table class="table table-striped table-bordered .table-responsive" >
			<thead>
				<tr>
					<th ng-style="{'width': '20%'}"></th>
					<th>Card</th>
					<th>Views</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="card in popularCards">
					<td><img class="img-responsive" ng-src="{{card.card_image}}" ng-style="{'height': '130px'}"></img></td>
					<td>
						<div>
							<p><a ng-href="cards/{{card.slug}}">{{card.name}}</a></p>
							<p><strong>Attribute</strong>: <a ng-href="find?family={{card.data.family}}">{{card.data.family}}</a></p>
							<p>
								<strong>Type</strong>: <a ng-href="find?type={{card.data.type}}">{{card.data.type}}</a>
								<a ng-show="card.data.type === null" ng-href="find?card_type={{card.data.card_type}}">{{card.data.card_type}}</a>
							</p>
						</div>
					</td>
					<td>{{card.impressions_count}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-md-6">
		<h2 ng-style="{'text-align': 'center'}">Most viewed Sets</h2>
		<table class="table table-striped table-bordered .table-responsive" >
			<thead>
				<tr>
					<th ng-style="{'width': '20%'}"></th>
					<th>Set</th>
					<th>Views</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="set in popularSets">
					<td><img class="img-responsive" ng-src="{{set.set_image}}" ng-style="{'height': '130px'}"></img></td>
					<td>
						<div>
							<p><a ng-href="card_sets/{{set.slug}}">{{set.name}}</a></p>
							<div ng-repeat="(rarity, count) in set.data.rarities">
								<p><strong>{{rarity}}</strong>: {{count}}</p>
							</div>
						</div>
					</td>
					<td>{{set.impressions_count}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>